{% extends '../base.html' %}  <!-- trae a main como padre -->

{% block title %}  {{ category.title }} {% endblock %}


{% block content %}  

<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">
          {{ category.title }}
        </h1>
        <p class="lead text-muted">

          </p>
        <p>
          <a href="#" class="btn btn-primary my-2">Main call to action</a>
          <a href="#" class="btn btn-secondary my-2">Secondary action</a>
        </p>
      </div>
    </div>
  </section>



<div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
       

        {% for i in category.products.all %}
        <div class="col">
            <div class="card shadow-sm">            
                <img class="d-flex" width="100%" height="225"  src="{{ i.get_thumbnail }}">          
            <div class="card-body">
              <h5>{{ i.title }}</h5>
              <p class="card-text">Description: <br>   {{ i.description }}   </p>

              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted"> {{ i.price }}</small>
                <div class="btn-group">
                  <a href="{% url 'detail_product' i.category.slug i.slug %}" class="btn btn-sm btn-outline-secondary">View</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
     
      </div>
    </div>
  </div>

{% endblock content %} 